@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cal+Sans&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cal+Sans&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cal+Sans&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root
{
    --azul-p:#3a56bd ;
}

*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body
{
  background-color:#121212
}

nav
{
  display: flex;
  justify-content: space-between;
  background-color: #3a56bd;
}

.esquerda
{
  display: flex;
  align-items: center;
  margin-left:15px;
  gap:15px;
  font-family: Anton;
}

.home-nav
{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.links-nav
{
  text-decoration: none;
  color: white;
  transition: all 500ms;
  border-radius: 22px;
  padding: 3px;
}

.direita
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-right: 100px;
  gap: 80px;
}

.links-nav:hover
{
  background-color: white;
  color: black;
  border-radius: 22px;
  scale: 1.6;
}

.card
{
  color: rgb(255, 255, 255);
}

.card1
{
  align-items: center;
  font-size: 40px;
  font-family: Montserrat;
}

.card2 
{
  font-size: 26px;
  width: 420px;
  height: 400px;
  font-family: inter;
}

.span-color
{
  color: #0077cc; 
}

.perfil1
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px
}

.img1
{
  border-radius: 50%;
}

footer
{
  background: #121212;
  width: 100%;
  height: 120px;
  bottom: 0;

}

.span-color
{
  color: var(--azul-p);
}

.card-dir
{
  color: white;
  font-size: 30px;
  width: 420px;
  height: 400px;
}

.title-card-dir
{
  font-family: Montserrat;
  font-size: 40px;
}

.card-dir p
{
  font-size: 26px;
  font-family: inter;
}

.informacoes
{
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 220px auto;
  align-items: center;
  scale: 1.35;
}

.secP
{
  display: flex;
  margin: 150px;
  justify-content: space-between;
  margin-top: 150px;
}

.carta
{
  width: 300px;
  height: 490px;
  background-color: var(--azul-p);
  transition: all 1s;
  border-radius: 22px;
}

.carta:hover
{
  scale: 1.1;
}

.title-carta
{
  text-align: center;
  margin-top: 15px;
  color:white;
}

.title-secP
{
  text-align: center;
  font-size: 60px;
  font-family:Montserrat ;
  color:#121212 ;
  margin-top: 50px;
  
  
}
.color-secP
{
  background:linear-gradient(to bottom right, #2c24bb,#4469c8,#678bdd);
  height: 865px;
}

